<div class="jumbotron hero-image">
  <div class="container-fluid hero-image-text">
    <h1>Departure</h1>
    <p>自分を探す旅に出よう</p>
  </div><!-- .container-fluid .hero-image-text -->
</div><!-- .jumbotron .hero-image -->

<% if logged_in? %>

  <div class="container">
    <div class="row static-page-home-keyword-wrapper">
      <h2>キーワードで探す</h2>
      <div class="static-page-home-search-form">
        <%= search_form_for @q, html: { class: "input-group" }  do |f| %>
          <%= f.search_field :name_or_spot_or_address_cont, placeholder: "旅先を探す", class: "form-control", id: "home_keyword_search" %>
          <span class="input-group-btn">
            <%= button_tag type: "submit", class: "btn btn-default" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </span><!-- .input-group-btn -->
        <% end %>
      </div><!-- .static-page-home-search-form -->
    </div><!-- .row .static-page-home-keyword -->

    <div class="row static-page-home-category-wrapper">
      <h2>エリアで探す</h2>
      <div class="col-md-4 static-page-home-category-item">
        <%= link_to destinations_path(region: "アジア"), class: "static-page-home-category-link region-asia" do %>
          <div class="static-page-home-category-image">
            <%= image_tag "region/asia.jpg", size: "360x300" %>
          </div><!-- .static-page-home-category-image -->
          <div class="static-page-home-category-text">
            アジア
          </div><!-- static-page-home-category-text -->
        <% end %>
      </div><!-- .col-md-4 .static-page-home-category-item -->
      <div class="col-md-4 static-page-home-category-item">
        <%= link_to destinations_path(region: "アメリカ"), class: "static-page-home-category-link region-america" do %>
          <div class="static-page-home-category-image">
            <%= image_tag "region/america.jpg", size: "360x300" %>
          </div><!-- .static-page-home-category-image -->
          <div class="static-page-home-category-text">
            アメリカ
          </div><!-- static-page-home-category-text -->
        <% end %>
      </div><!-- .col-md-4 .static-page-home-category-item -->
      <div class="col-md-4 static-page-home-category-item">
        <%= link_to destinations_path(region: "ヨーロッパ"), class: "static-page-home-category-link region-europe" do %>
          <div class="static-page-home-category-image">
            <%= image_tag "region/europe.jpg", size: "360x300" %>
          </div><!-- .static-page-home-category-image -->
          <div class="static-page-home-category-text">
            ヨーロッパ
          </div><!-- static-page-home-category-text -->
        <% end %>
      </div><!-- .col-md-4 .static-page-home-category-item -->
    </div><!-- .row .static-page-home-category-wrapper -->

    <div class="row static-page-home-category-wrapper">
      <h2>体験で探す</h2>
      <div class="col-md-4 static-page-home-category-item">
        <%= link_to destinations_path(experience: "アクティビティ"), class: "static-page-home-category-link experience-activity" do %>
          <div class="static-page-home-category-image">
            <%= image_tag "experience/activity.jpg", size: "360x300" %>
          </div><!-- .static-page-home-category-image -->
          <div class="static-page-home-category-text">
            アクティビティ
          </div><!-- static-page-home-category-text -->
        <% end %>
      </div><!-- .col-md-4 .static-page-home-category-item -->
      <div class="col-md-4 static-page-home-category-item">
        <%= link_to destinations_path(experience: "歴史"), class: "static-page-home-category-link experience-history" do %>
          <div class="static-page-home-category-image">
            <%= image_tag "experience/history.jpg", size: "360x300" %>
          </div><!-- .static-page-home-category-image -->
          <div class="static-page-home-category-text">
            歴史
          </div><!-- static-page-home-category-text -->
        <% end %>
      </div><!-- .col-md-4 .static-page-home-category-item -->
      <div class="col-md-4 static-page-home-category-item">
        <%= link_to destinations_path(experience: "一人旅"), class: "static-page-home-category-link experience-solo-travel" do %>
          <div class="static-page-home-category-image">
            <%= image_tag "experience/solo_travel.jpg", size: "360x300" %>
          </div><!-- .static-page-home-category-image -->
          <div class="static-page-home-category-text">
            一人旅
          </div><!-- static-page-home-category-text -->
        <% end %>
      </div><!-- .col-md-4 .static-page-home-category-item -->
    </div><!-- .row .static-page-home-category-wrapper -->

    <div class="row static-page-home-category-wrapper">
      <h2>航空会社で探す</h2>
      <div class="col-md-4 static-page-home-category-item">
        <%= link_to destinations_path(alliance: "スターアライアンス"), class: "static-page-home-category-link alliance-star-alliance" do %>
          <div class="static-page-home-category-image only-alliance">
            <%= image_tag "alliance/star_alliance.png", size: "360x300" %>
          </div><!-- .static-page-home-category-image -->
          <div class="static-page-home-category-text">
            スターアライアンス
          </div><!-- static-page-home-category-text -->
        <% end %>
      </div><!-- .col-md-4 .static-page-home-category-item -->
      <div class="col-md-4 static-page-home-category-item">
        <%= link_to destinations_path(alliance: "ワンワールド"), class: "static-page-home-category-link alliance-one-world" do %>
          <div class="static-page-home-category-image only-alliance">
            <%= image_tag "alliance/one_world.png", size: "360x300" %>
          </div><!-- .static-page-home-category-image -->
          <div class="static-page-home-category-text">
            ワンワールド
          </div><!-- static-page-home-category-text -->
        <% end %>
      </div><!-- .col-md-4 .static-page-home-category-item -->
      <div class="col-md-4 static-page-home-category-item">
        <%= link_to destinations_path(alliance: "スカイチーム"), class: "static-page-home-category-link alliance-sky-team" do %>
          <div class="static-page-home-category-image only-alliance">
            <%= image_tag "alliance/sky_team.png", size: "360x300" %>
          </div><!-- .static-page-home-category-image -->
          <div class="static-page-home-category-text">
            スカイチーム
          </div><!-- static-page-home-category-text -->
        <% end %>
      </div><!-- .col-md-4 .static-page-home-category-item -->
    </div><!-- .row .static-page-home-category-wrapper -->

  <% else %>

    <div class="container">
      <h1 class="static-page-home-welcome">Welcome to Departure!</h1>
      <div class="row">
        <div class= "col-md-6 col-md-offset-3">
          <div class="static-page-home-login-signup-wrapper">
            <div class="static-page-home-login-signup-btn">
              <p>ゲストユーザでログインします</p>
              <%= link_to "ゲストログイン", guest_login_path, method: :post, class: "btn btn-danger" %>
            </div><!-- .static-page-home-login-signup-btn -->
            <div class="static-page-home-login-signup-btn">
              <p>アカウントを作成してはじめる</p>
              <%= link_to "サインアップ", signup_path, class: "btn btn-warning" %>
            </div><!-- .static-page-home-login-signup-btn -->
            <div class="static-page-home-login-signup-btn">
              <p>アカウントをお持ちの方はこちら</p>
              <%= link_to "ログイン", login_path, class: "btn btn-primary" %>
            </div><!-- .static-page-home-login-signup-btn -->
          </div><!-- .static-page-home-login-signup-wrapper -->
        </div><!-- .col-md-6.col-md-offset-3 -->
      </div><!-- .row -->
    </div><!-- .container -->
  <% end %>
