<% @destination = Destination.find(favorite.destination_id) %>
<% user = @destination.user %>
<li id="favorite-<%= favorite.id %>">
  <div class="row favorite-destination">
    <div class="col-md-2">
      <%= link_to((image_tag @destination.picture.url), destination_path(@destination), class: "destination-picture") %>
    </div>
    <div class="col-md-10">
      <p class="favorite-user"><%= link_to @destination.name, destination_path(@destination) %></p>
      <p class="favorite-description"><%= @destination.description %></p>
      <p class="favorite-country">country: <%= get_country_name(@destination) %><p>
      <p class="destination-user">posted by <%= link_to user.name, user_path(user) %></p>
    </div>
  </div>
</li>
