<% # @comments からcomment 毎のコメント投稿者の名前を取得 %>
<% #FIXME: view 以外に処理を移す %>
<% comment_user = User.find(comment.user_id) %>

    <div class="col-md-6 destination-comment-list" id="comment-<%= comment.id %>">

      <div class="destination-comment-header">

        <div class="destination-comment-icon">
          <%= link_to comment_user, class: "destination-comment-icon-link" do %>
            <%= gravatar_for(comment_user, size: 50) %>
          <% end %>
        </div><!-- .destination-comment_icon -->

        <div class="destination-comment-user-info">
          <div class="destination-comment-user">
            <%= link_to comment_user.name, comment_user %>
          </div>
          <div class="destination-comment-time-delete">
            <div class="destination-comment-time">
              <%= time_ago_in_words(comment.created_at) %>
            </div><!-- .destination-comment-time -->
            <% if current_user.id == comment.user_id %>
              <div class="destination-comment-delete">
                <%= link_to "delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
              </div><!-- .destination-comment-delete -->
            <% end %>
          </div><!-- .destination-comment-time-delete -->
        </div><!-- .destination-comment-user-info -->

      </div><!-- .destination-comment-header -->

      <div class="destination-comment-content">
        <p><%= comment.content %></p>
      </div><!-- .destination-comment-content -->

    </div><!-- .col-md-6 .destination-comment-list -->

