<%= form_for(@comment) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= hidden_field_tag :destination_id, @destination.id %>
  <div class="row destination-comment-new-wrapper">
    <div class="col-md-10 destination-comment-new-field">
        <%= f.text_area :content, placeholder: "コメントを追加 ..." %>
    </div><!-- .col-md-10 destination-comment-new-field -->
    <div class="col-md-2 destination-comment-new-button">
      <%= f.submit class: "btn btn-primary" %>
    </div><!-- .col-md-2 .destination-comment-new-button -->
  </div><!-- .row .destination-comment-new-wrapper -->
<% end %>
