<% # TODO: ユーザと旅先の取得処理をcontroller にまとめる %>
<% # 通知毎のユーザと旅先を取得 %>
<% user = get_user_for_notification(notification) %>
<% destination = get_destination_for_notification(notification) %>

<li id="notification-<%= notification.id %>">
<div>
  <% if notification.notification_type == 1 %>
    <p class="notification-timestamp"><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
    <p class="notification-message">あなたの行き先が<%= link_to user.name, user_path(user) %> さんのFavorite に追加されました</p>
  <% elsif notification.notification_type == 2 %>
    <p class="notification-timestamp"><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
    <p class="notification-message">あなたの行き先に<%= link_to user.name, user_path(user) %> さんがComment しました</p>
    <p class="notification-content"><%= notification.content %></p>
  <% end %>
</div>
<div class="row">
  <div class="col-md-2">
    <%= link_to((image_tag destination.picture.url), destination_path(destination), class: "destination-picture") %>
  </div>
  <div class="col-md-7">
    <p><%= link_to destination.name, destination_path(destination) %></p>
    <p><%= destination.description %></p>
  </div>
</div>
</li>
