<%= form_for(current_user.active_relationships.find_by(followed_id: relationship_user.id), html: { method: :delete }, remote: true) do |f| %>
  <% # 表示ページのユーザ情報をrelationships#destroy に送信 %>
  <div><%= hidden_field_tag :current_page_user_id, @user.id %></div>
  <%= f.submit "フォロー中", class: "unfollow-button btn btn-primary" %>
<% end %>

<%# <% if controller.action_name == "show" %1> %>
<%#   <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }, remote: true) do |f| %1> %>
<%#     <%= f.submit "フォロー中", class: "unfollow-button btn btn-primary" %1> %>
<%#   <% end %1> %>
<%# <% elsif controller.action_name == "following" || controller.action_name == "followers" %1> %>
<%#   <%= form_for(current_user.active_relationships.find_by(followed_id: @following_follower_user.id), html: { method: :delete }, remote: true) do |f| %1> %>
<%#     <%= f.submit "フォロー中", class: "unfollow-button btn btn-primary" %1> %>
<%#   <% end %1> %>
<%# <% end %1> %>
