<% provide(:title, @title) %>
<div class="container user-follow-wrapper">
  <% if controller.action_name == "following" %>
    <h1>フォロー / <%= link_to "フォロワー", followers_user_path(@user) %></h1>
  <% elsif controller.action_name == "followers" %>
    <h1><%= link_to "フォロー", following_user_path(@user) %> / フォロワー</h1>
  <% end %>

  <%= render partial: "users/show_follow_stats", locals: { user: @user } %>

  <% if @relationship_users.any? %>
    <ul class="user-follow-list-wrapper">
      <% #@relationship_users を変数relationship_user としてパーシャル_relationship_userに渡してループを回す %>
      <%= render partial: "users/relationship_user", collection: @relationship_users %>
    </ul><!-- .user-follow-list-wrapper -->

    <div class="pagination-wrapper">
    <%= will_paginate @relationship_users %>
    </div><!-- .pagination-wrapper -->
  <% end %>

</div><!-- .container .user-follow-wrapper -->
