<% provide(:title, "Profile") %>
<div class="container">
  <div class="row">
    <h1>Profile</h1>
    <div class="col-md-4">
      <div class="user-picture-box">
        <%= gravatar_for @user, size: 120, cl: "gravatar user-picture" %>
      </div>
    </div>
    <div class="col-md-8">
      <p class="show-user-name"><%= @user.name %></p><p class="show-user-nationality"><%= @user.nationality %></p>
      <div>
        <%= @user.introduction %>
      </div>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% if current_user == @user %>
        <div class="edit-profile">
          <%= link_to "Edit Profile", edit_user_path(@user) %>
        </div>
      <% end %>
      <%= render 'follow_form' if logged_in? %>
    </div>
  </div>
  <% if @user.destinations.any? %>
    <div class="row user-destinations">
      <h2>投稿 (<%= @user.destinations.count %>)</h2>
      <%# FIXME: collection オプションを使った呼び出しに変更する %>
      <%= render partial: "destinations/destination" %>
    </div>
  <% end %>
</div>
