<% provide(:title, "Profile") %>
<div class="container user-show-wrapper">

  <div class="user-show-icon-name-edit-stats-wrapper">
    <div class="user-show-icon">
      <%= gravatar_for @user, size: 120, cl: "gravatar user-picture" %>
    </div><!-- .user-show-icon -->

    <div class="user-show-name-edit-stats">
      <div class="user-show-name-edit">
        <h1><%= @user.name %></h1>
        <div class="dropdown user-show-dropdown-menu">
          <% # 自分の投稿のみ編集ボタン表示 %>
          <% if current_user == @user %>
            <button class="dropdown-toggle user-show-dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <ul class="dropdown-menu user-show-edit-list" role="menu">
              <li class="user-show-edit">
                <%= link_to "プロフィールを編集する", edit_user_path(@user) %>
              </li><!-- .user-show-edit -->
            </ul><!-- .dropdown-menu .user-show-edit-list -->
          <% end %>
        </div><!-- .dropdown .user-show-dropdown-menu -->
      </div><!-- .user-show-name-edit -->

      <div class="user-show-stats">
        <%= render 'shared/stats' %>
      </div><!-- .user-show-stats -->
    </div><!-- .user-show-name-edit-stats -->
  </div><!-- .user-show-icon-name-edit-stats-wrapper -->

  <div class="user-show-nationality-introduction-wrapper">
    <p class="user-show-nationality"><i class="fas fa-globe"></i> <%= @user.nationality%></p>
    <div class="user-show-introduction">
      <%= @user.introduction %>
    </div><!-- .user-show-introduction -->
  </div><!-- .user-show-nationality-introduction-wrapper -->

</div><!-- .container .user-show-wrapper -->
