<% provide(:title, @title) %>
<div class="container user-follow-wrapper">
  <% if controller.action_name == "following" %>
    <h1>Following / <%= link_to "Followers", followers_user_path(@user) %></h1>
  <% elsif controller.action_name == "followers" %>
    <h1><%= link_to "Followings", following_user_path(@user) %> / Followers</h1>
  <% end %>

  <div class="user-follow-stats-wrapper">
    <div class="user-follow-stats-flex">
      <div class="user-follow-stats-name">
        <p><%= @user.name %></p>
      </div><!-- .user-follow-stats-name -->
      <div class="user-follow-stats-count">
        <div class="user-follow-stats-following">
          <p>フォロー中 <%= @user.following.count %>人</p>
        </div><!-- .user-follow-stats-following -->
        <div class="user-follow-stats-followers">
          <p>フォロワー <%= @user.followers.count %>人</p>
        </div><!-- .user-follow-stats-followers -->
      </div><!-- .user-follow-stats-count -->
    </div><!-- .user-follow-stats-flex -->
  </div><!-- .user-follow-stats-wrapper -->

  <% if @following_follower_users.any? %>
    <ul class="user-follow-list-wrapper">
      <% #@following_follower_users を変数following_follow_user としてfollowing_follower_userに渡してループを回す %>
      <%= render partial: "following_follower_user", collection: @following_follower_users %>
    </ul><!-- .user-follow-list-wrapper -->
    <div class="pagination-wrapper">
    <%= will_paginate @following_follower_users %>
    </div><!-- .pagination-wrapper -->
  <% end %>

</div><!-- .container .user-follow-wrapper -->
