<%= form_with model: @destination, local: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="destination-form-picture-select">
    <%= f.label :picture %>
    <%= f.file_field :picture, accept: "image/jpeg, image/png", class: "form-control", id: "destination_picture" %>
    <% if edit_page_and_have_picture? %>
      <div class="destination-form-picture">
        <%= image_tag(@destination.picture.thumb400.url) %>
      </div><!-- .destination-form-picture-wrapper -->
    <% end %>
  </div><!-- .destination-form-picture-select -->
  <div class="form-group">
    <%= f.label :name %><span class="input-need"> *必須</span>
    <%= f.text_field :name, class: "form-control", id: "destination_name" %>
  </div>
  <div class="form-group">
    <%=  f.label :description %>
    <%= f.text_field :description, size: "60x4", class: "form-control", id: "destination_description" %>
  </div>
  <div class="form-group">
    <%= f.label :spot %>
    <%= f.text_field :spot, class: "form-control", id: "destination_spot" %>
  </div>
  <div class="form-group" id="destination_region">
    <%= f.label :region_id %><span class="input-need"> *必須</span>
    <%= f.collection_select :region_id, @regions, :id, :country_name, { include_blank: "地域を選択" }, { class: "form-control", id: "destination_region_id" } %>
  </div>
  <div class="form-group-wrapper" id="destination_country">
    <% #edit 時のみ国名セレクトボックスを先に表示 %>
    <% if edit_page? %>
      <div class="form-group" id="country_select_box">
        <%= f.label :country_id %><span class="input-need"> *必須</span>
        <%= f.collection_select :country_id, @countries, :id, :country_name, { include_blank: "国を選択" }, { class: "form-control", id: "destination_region_id" } %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :expense %><span class="input-need"> *必須</span>
    <%= f.select :expense, options_for_select(Destination.expenses, @destination.expense_before_type_cast), { include_blank: "費用を選択" }, { class: "form-control", id: "destination_expense" } %>
  </div>
  <div class="form-group">
    <%= f.label :season %><span class="input-need"> *必須</span>
    <%= f.select :season, [["1月", 1], ["2月", 2], ["3月", 3], ["4月", 4], ["5月", 5], ["6月", 6], ["7月", 7], ["8月", 8], ["9月", 9], ["10月", 10], ["11月", 11], ["12月", 12]], { include_blank: "旅行月を選択" }, { class: "form-control", id: "destination_season" } %>
  </div>
  <div class="form-group">
    <%= f.label :experience %>
    <%= f.text_field :experience, class: "form-control", id: "destination_experience" %>
  </div>
  <div class="form-group">
    <%= f.label :airline_id %>
    <%= f.collection_select :airline_id, @airlines, :id, :airline_name, { prompt: "飛行機は使っていない" }, { class: "form-control", id: "destination_airline_id" } %>
  </div>
  <div class="form-group">
    <%= f.label :food %>
    <%= f.text_field :food, class: "form-control", id: "destination_food" %>
  </div>
  <%= f.submit class: "btn btn-primary destination-form-submit-btn" %>
  <% if edit_page? %>
    <div class="destination-form-delete-wrapper">
      <%= link_to "削除する", destination_path(@destination), method: :delete, data: { confirm: "削除してよろしいですか?" }, class: "btn btn-danger destination-form-delete-btn" %> 
    <% end %>
    </div>
  <% end %>

  <script type="text/javascript">
    $("#destination_picture").bind("change", function() {
      var size_inmegabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert("The maximum size of a picture you can update is 5MB.");
      }
    });
  </script>
