<% if @destinations.any? %>

  <div class="row">
    <div class="col-md-4">

      <div class="row">
        <% @destinations.each do |destination| %>
          <%# render "users/favorite_form で@destination の為の代入" %>
          <% @destination = destination %>
          <div class="destination-list destination-<%= destination.id %>">
            <div class="row">
                <div class="col-md-4 destination-list-picture-wrapper">
                    <div class="destination-list-picture">
                  <%= link_to((image_tag @destination.picture.thumb200.url), destination_path(destination.id), class: "destination-list-picture-link") if destination.picture.url.present? %>
                    </div><!-- destination-list-picture -->
                </div><!-- .col-md-4 .destination-list-picture-wrapper-->
                <div class="col-md-8 destination-list-info-wrapper">
                  <div class="destination-list-title">
                    <div class="destination-list-icon">
                      <%= link_to destination.user, class: "destination-list-icon-link" do %>
                        <%= gravatar_for(destination.user, size: 50) %>
                      <% end %>
                    </div><!-- .destination-list-icon -->
                    <h3><%= link_to destination.name, destination_path(destination) %></h3>
                  </div><!-- .destination-list-title -->
                  <div class="destination-list-user">
                    <p><%= link_to destination.user.name, destination.user %></p>
                  </div><!-- .destination-list-user -->
                  <div class="destination-list-description">
                    <p><%= destination.description.truncate(50) %></p>
                  </div><!-- .destination-description -->
                  <div class="destination-list-lower-end">
                    <p class="destination-list-country-name"><i class="fa fa-map-marker"></i> <%= get_country_name(destination) %></p>
                    <div class="destination-list-favorite-timestamp">
                      <%= render "users/favorite_form" %>
                      <div class="destination-list-timestamp">
                        <%= time_ago_in_words(destination.created_at) %>前
                      </div><!-- .dextination-list-timestamp -->
                    </div><!-- .destination-list-favorite-timestamp -->
                  </div><!-- .destination-list-lower-end -->
                </div><!-- .col-md-8 .destination-list-info-wrapper -->
            </div><!-- .row -->
          </div><!-- .destination-list -->
        <% end %>
      </div><!-- .row -->

    </div><!-- .col-md-4 -->
    <div class="col-md-8">
      <h2>MAP<h2>
    </div><!-- .col-md-8 -->
  </div><!-- row -->

<% end %>

