<% if @destinations.any? %>

  <div class="destination-list-map-wrapper">
    <div id="map"></div>

    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(3);
      });
    </script>

  </div><!-- .destiantion-list-map-wrapper -->

  <div class="row destination-list-wrapper">
    <% @destinations.each do |destination| %>
      <%# render "users/favorite_form で@destination の為の代入" %>
      <% @destination = destination %>
      <div class="col-md-2 destination-list-post destination-<%= destination.id %>">

        <div class="destination-list-picture">
          <%= link_to((image_tag destination.picture.thumb200.url), destination_path(destination.id), class: "destination-list-picture-link") %>
        </div><!-- destination-list-picture -->

        <div class="destination-list-info-wrapper">
          <div class="destination-list-title">
            <div class="destination-list-icon">
              <%= link_to destination.user, class: "destination-list-icon-link" do %>
                <%= gravatar_for(destination.user, size: 50) %>
              <% end %>
            </div><!-- .destination-list-icon -->
            <h3><%= link_to destination.name.truncate(30), destination_path(destination) %></h3>
          </div><!-- .destination-list-title -->

          <div class="destination-list-user">
            <p><%= link_to destination.user.name, destination.user %></p>
          </div><!-- .destination-list-user -->

          <div class="destination-list-description">
            <p><%= destination.description.truncate(50) %></p>
          </div><!-- .destination-description -->

          <div class="destination-list-lower-end">
            <p class="destination-list-country-name"><i class="fa fa-map-marker"></i> <%= get_country_name(destination).truncate(10) %></p>
            <div class="destination-list-favorite-timestamp">
              <%= render "users/favorite_form" %>
              <div class="destination-list-timestamp">
                <%= time_ago_in_words(destination.created_at) %>前
              </div><!-- .dextination-list-timestamp -->
            </div><!-- .destination-list-favorite-timestamp -->
          </div><!-- .destination-list-lower-end -->
        </div><!-- .destination-list-info-wrapper -->

      </div><!-- .col-md-2 .destination-list-post -->
    <% end %>
  </div><!-- .row .destination-list-wrapper -->

  <div class="pagination-wrapper">
    <%= will_paginate @destinations %>
  </div>

<% end %>
