<% provide(:title, "#{@destination.name}") %>
<% @comments = @destination.feed_comment(@destination.id) %>
<h1>Destination</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span class="picture">
        <%= link_to((image_tag @destination.picture.thumb400.url), destination_path(@destination.id), class: "destination-picture") if have_picture? %>
      </span>
      <%= render "users/favorite_form" %>
    </div>
    <div class="col-md-8">
      <h2 class="destination-name"><%= @destination.name %></h2>
      <div class="change-destination">
        <% if current_user == @destination.user %>
          <%= link_to "Edit", edit_destination_path(@destination), class: "edit-destination" %>
        <% end %>
        <% if current_user.admin? || (current_user == @destination.user) %>
          <%= link_to "Delete", destination_path(@destination), method: :delete, class: 'delete-destination', data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
      <p class="destination-country">国: <%= @country.country_name %></p>
      <p class="destination-region">エリア: <%= @country.region %></p>
      <p class="destination-spot">スポット: <%= @destination.spot %></p>
      <p class="destination-expense">費用: <%= @destination.expense %></p>
      <p class="destination-season">シーズン: <%= @destination.season %>月</p>
      <p class="destination-experience">体験: <%= @destination.experience %></p>
      <% if @airline.nil? %>
        <p class="destination-airline_name">航空会社: 未使用</p>
      <% else %>
        <p class="destination-airline_name">航空会社: <%= @airline.airline_name %></p>
        <p class="destination-alliance">アライアンス: <%= @airline.alliance %></p>
      <% end %>
      <p class="destination-food">食べ物: <%= @destination.food %></p>
      <div class="destination-description"><%= @destination.description %></div>
      <div class="comment">
        <%= render "comments/feed_comments" %>
        <%= render "comments/new" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>

      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%= raw @marker.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(16);
        });
      </script>

    </div>
  </div>
</div>
