<% provide(:title, "#{@destination.name}") %>
<% @comments = @destination.feed_comment(@destination.id) %>
<h1>Destination</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span class="picture">
        <%= link_to((image_tag @destination.picture.thumb400.url), destination_path(@destination.id), class: "destination-picture") if @destination.picture.url.present? %>
      </span>
      <%= render "users/favorite_form" %>
    </div>
    <div class="col-md-8">
      <h2 class="destination-name"><%= @destination.name %></h2>
      <div class="change-destination">
        <% if current_user == @destination.user %>
          <%= link_to "Edit", edit_destination_path(@destination), class: 'edit-destination' %>
        <% end %>
        <% if current_user.admin? || (current_user == @destination.user) %>
          <%= link_to "Delete", destination_path(@destination), method: :delete, class: 'delete-destination', data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
      <p class="destination-country">国: <%= @destination.country %></p>
      <div class="destination-description"><%= @destination.description %></div>
      <div class="comment">
        <%= render "comments/feed_comments" %>
        <%= render "comments/new" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>

      <script type="text/javascript">
        handler = Gmaps.build("Google");
        handler.buildMap({ provider: { scrollwheel: false }, internal: {id: "map"}}, function(){
          markers = handler.addMarkers(<%= raw @marker.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(16);
        });
      </script>

    </div>
  </div>
</div>
