<nav class="fh5co-nav" role="navigation">
  <div class="top-menu">
    <div class="container">
      <div class="row">

        <div class="col-xs-2">
          <%= link_to(image_tag("header_logo.jpg", :alt => ""), root_url, id: "logo") %>
        </div>

        <div class="col-xs-10 text-right menu-1">
          <ul>
            <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "What's Departure?", about_path %></li>
            <% if logged_in? %>
              <% if current_user.notification == true %>
                <li class="new_notification header-link">
                <% else %>
                  <li class="no_notification header-link">
                  <% end %>
                  <li class="<%= 'active' if current_page?(notifications_path) %>"><%= link_to 'Notifications', notifications_path %></li>
                  <li class="<%= 'active' if current_page?(favorites_path) %>"><%= link_to 'Favorites', favorites_path %></li>
                  <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'All Users', users_path %></li>
                  <li class="has-dropdown">
                    <a href="#">My Page</a>
                    <ul class="dropdown">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Logout", logout_path, method: :delete %></li>
                    </ul>
                  </li>
                <% else %>
                  <% if current_page?(signup_path) %>
                    <li class="btn-cta">
                      <%= link_to login_path do %>
                        <span>Login</span>
                      <% end %>
                    </li>
                  <% elsif current_page?(login_path) %>
                    <li class="btn-cta">
                      <%= link_to signup_path do %>
                        <span>Signup</span>
                      <% end %>
                    </li>
                  <% else %>
                    <li class="btn-cta">
                      <%= link_to signup_path do %>
                        <span>Signup</span>
                      <% end %>
                    </li>
                    <li class="btn-cta">
                      <%= link_to login_path do %>
                        <span>Login</span>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>
          </ul>
        </div><!-- .col-xs-10 .text-right menu-1 -->

      </div><!-- row -->
    </div><!-- .container -->
  </div><!-- .top-menu -->
</nav>
